<section class="recipeDetaiils">
<div>
  <h2 class="recipe-name"><%= @recipe.name %></h2>
  <div class="recipe-details">
    <div>
      <p>Preparation Time: <%= @recipe.preparation_time %></p>
      <p>Cooking Time: <%= @recipe.cooking_time %></p>
      <p>Steps:</p>
      <p><%= @recipe.description %></p>
    </div>
    <div class="body">
       <% if current_user.id == @recipe.user_id %>
        <% if @recipe.public %>
          <div class="d-flex align-items-baseline">
     <h5 class="font-weight-bold status" >Change Status:</h5>
    <%= button_to "Public", recipe_path(@recipe), method: :patch, class: "bbtn public" %>
      </div>
        <% else %>
          <div class="d-flex align-items-baseline">
          <h5 class="font-weight-bold status">Change Status:</h5>
          <%= button_to "Private", recipe_path(@recipe), method: :patch, class: "bbtn" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-between text-decoration-none mb-5 mt-8">
    <%= link_to "Generate shopping list",general_shopping_list_index_path, class: 'btn btn-secondary' %>
    <% if current_user.id == @recipe.user_id %>
      <%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe.id), class: 'btn btn-secondary' %>
    <% end %>
  </div>
  <table class="table table-sm  table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
      <tbody class="table-group-divider">
      <% @ingredients.each do |ingredient|%>
        <tr>
          <td><%= ingredient.food.name %></td>
          <td><%= ingredient.quantity%> <%= ingredient.food.measurement_unit %></td>
          <td>$ <%= (ingredient.food.price.to_f || 0) * (ingredient.quantity.to_f || 0) %></td>
          <td>
          <% if current_user.id == @recipe.user_id %>
            <%= button_to "Remove", recipe_recipe_food_path(recipe_id: @recipe.id, id: ingredient.id), method: :delete,  class: "btn btn-link" %>
          <%else%>
            <p>Actions Not allowed</p>
          <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>
