<section class="container">
 <%= form_for @food, url: foods_path, local: true, data: { turbo: false }, method: :post do |form| %>
 
 <% if @food.errors.any? %>
  <div class="alert alert-danger">
  <ul>
  <% @food.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
  </ul>
  </div>
 <% end %>
 <h2 class="shadow-sm p-3 bg-body-tertiary rounded text-center">Add New Food</h2>

 <div class="mb-3">
   <%= form.label :name, class: "form-label" %>
   <%= form.text_field :name, class: "form-control" %>
 </div>

 <div class="mb-3">
   <%= form.label :measurement_unit %>
   <%= form.text_field :measurement_unit, class: "form-control" %>
 </div>

 <div class="mb-3">
   <%= form.label :price %>
   <%= form.text_field :price, class: "form-control" %>
 </div>

 <div class="mb-3">
   <%= form.label :quantity %>
   <%= form.text_field :quantity, class: "form-control" %>
 </div>

 <%= form.hidden_field :user_id, value: current_user.id %>

 <div>
 <%= form.submit "Save Food", class: "btn btn-primary" %>
 <%= link_to "Cancel", foods_path, class: "btn btn-primary cancel-link" %>
 </div>
 
 <% end %>
</section>